@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

*
{
  font-family:'Lato',serif;
  font-size: 1rem;
  
}

html
{
margin :0;  
}

body 
{
  background: linear-gradient(to bottom ,#abffce,#0ef);
  margin: 0;
  overflow-x: hidden;
}

header
{
  position: absolute;  
  display: flex;
  top: 0;
  left: 0; 
  background: transparent;
  justify-content: space-between;
  width: 100%;
  
}
header .logo
{
  color: #094b65;
  font-size: 2rem;
  font-weight: 900 !important;
  text-decoration: none;
  cursor:default;
  padding: 30px 100px;
}



header ul
{  
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 30px 30px;
  margin: 0;
}

header ul li 
{
  list-style-type:none;
  margin: 15px 30px;
}

header ul li a
{
  font-weight: 700;
  padding: 10px 15px;
  color: #094b65;
  background-color: transparent;
  border-radius: 20px;
  text-decoration: none;
  
}
header ul li:first-child
{
  margin-right: -15px;
}

header ul li a:hover
{
  background-color: #094b65;
  color: #fff;
}