*
{
  font-family:'Lato',cursive,serif;
}
html
{
  height: 100vh;
  width: 100%;
}
body 
{
  background: linear-gradient(35deg ,#7dc5ff,#ffc874);
  
  background-size: cover;
  margin: 0;
  
  
}

header div
{
  display: flex;
  top: 0%;  
  left: 0;  
  background: transparent;
  justify-content: space-between;
  width: 100%;
  
}

header .logo
{
  cursor:pointer;
  color: #094b65;
  font-size: clamp(1rem , 2rem , 4rem);
  font-weight: 900 !important;
  text-decoration: none;
  padding: 30px 100px;  
}
@media screen and (max-width:886px) {
  
  header .logo
  {
    cursor:pointer;
    color: #094b65;
    font-size: 2rem;
    font-weight: 900 !important;
    text-decoration: none;
    padding: 30px 25px;  
  }
  #expintput
  {
    text-align:center;
    padding:0 16px 0 16px ;
  }
  header ul 
  {
  display: grid;
  place-items: centre;
  padding: 30px 7.5px;

  }
  header ul li 
  {
    padding: 0;
  }
}

@media screen and (max-width:767px) {
  header .logo{
    display:flex;
    /* place-items: centre; */
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  header div ul{
    display:none;
  }
}

header ul
{  
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 30px 30px;
  margin: 0;
}

header ul li 
{
  list-style-type:none;
  margin: 0;
}

header ul li a
{
  font-weight: 700;
  padding: 10px 15px;
  color: #094b65;
  background-color: transparent;
  border-radius: 20px;
  text-decoration: none;
  
}
header ul li a:hover
{
  background-color: #094b65;
  color: #fff;
}

.divstyle
{
  justify-content: space-between;
  position: relative;
  width: 100%;
  align-content: center;
}

#expInput
{
  display: flex;
  margin:auto;
  width: 98%;
  height: 2.5rem; 
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: #fff;
  border: 0ch;
  text-align: center;
}
#expinput:focus
{
  border: 1ch;
  border-color: #aaa;
}
#submit
{
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  margin:1rem auto ; 
  padding:10px 15px;
  color:#fff;
  background-color:#222;
  border-style:solid;
  align-items: center;
}


#submit:hover
{
  box-shadow:0px 0px 2px 3px  #555 ;
  border-radius: 5px;

}
.para
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:calc(1.5vw*2);
}
